<div id="sidebar">
    <div class="row1">
        <div id="sidebarHeader">
            <div>
                <h2>Status</h2>
            </div>
            <div class="actionContainer">
                <div class="icon">
                    <img title="New Chat" style="width: 25px;cursor: pointer;"
                        src="assets/Plus.svg" alt>
                    <img title="Menu" style="cursor: pointer;"
                        src="assets/moreVertIcon.svg" alt>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebarContent">
        <div class="conversation">
            <div class="picture">
                <img class="UserDP" src="assets/user.jpg" alt>
            </div>
            <div class="content">
                <div class="conversationHeader">
                    <div class="contactname">My Status</div>
                </div>
                <div class="message">
                    Click to add status update
                </div>
            </div>

        </div>
        <div class="statusBreakLine"></div>
        <div class="statusRecentLabel">
            RECENT
        </div>

        <div class="conversation">
            <div class="picture">
                <div class="statusBorder">
                    <img class="UserDP" src="assets/user.jpg" alt>
                </div>
            </div>
            <div class="content borderTop">
                <div class="conversationHeader">
                    <div class="contactname">Rahul Kumar</div>
                </div>
                <div class="message">
                    Today at 8:47 pm
                </div>
            </div>
        </div>

        <div class="conversation">
            <div class="picture">
                <div class="statusBorder">
                    <img class="UserDP" src="assets/user.jpg" alt>
                </div>
            </div>
            <div class="content borderTop">
                <div class="conversationHeader">
                    <div class="contactname">Ashok Sharma</div>
                </div>
                <div class="message">
                    Today at 8:47 pm
                </div>
            </div>
        </div>

        <div class="statusRecentLabel">
            VIEWED
        </div>

        <div class="conversation">
            <div class="picture">
                <div class="statusBorder">
                    <img class="UserDP" src="assets/user.jpg" alt>
                </div>
            </div>
            <div class="content borderTop">
                <div class="conversationHeader">
                    <div class="contactname">Krishna Rathore</div>
                </div>
                <div class="message">
                    Today at 8:47 pm
                </div>
            </div>
        </div>

        <div class="lastText">
            <p>
                <img class="BottomLockImg" src="assets/lock.svg" />
                Your status updates are <a class="extraLink">end-to-end encrypted</a>
            </p>
        </div>

    </div>
</div>