<div id="sidebar" >
    <div class="row1">
        <div id="sidebarHeader">
            <div>
                <h2>Profile</h2>
            </div>
            <div class="actionContainer">
                <div class="icon">
                    <img title="New Chat" style="width: 25px;cursor: pointer;"
                        src="assets/NewChat.png" alt>
                    <img title="Menu" style="cursor: pointer;"
                        src="assets/moreVertIcon.svg" alt>
                </div>
            </div>
        </div>
    </div>
</div>