<div id="sidebar">
    <div class="row1">
        <div id="sidebarHeader">
            <div>
                <h2>Chats</h2>
            </div>
            <div class="actionContainer">
                <div class="icon">
                    <img title="New Chat" style="width: 25px;cursor: pointer;" src="../../../assets/NewChat.png" alt="">
                    <img title="Menu" style="cursor: pointer;" src="../../../assets/moreVertIcon.svg" alt="">
                </div>
            </div>
        </div>
        <div id="searchArea">
            <i id="searchIcon" class="fa fa-search"></i>
            <input [(ngModel)]="onSearch" id="sideSearchInput" type="text" placeholder="Search">
        </div>
        <div class="filterDiv">
            <div class="filterDivText GreenBadge"><span>All</span></div>
            <div class="filterDivText GreyBadge"><span>Unread</span></div>
            <div class="filterDivText GreyBadge"><span>Groups</span></div>
        </div>
    </div>

    <div id="sidebarContent">
        <div class="conversation" *ngFor="let conversation of !onSearch ? conversations : filteredConversation()"
            (click)="conversationClicked.emit(conversation)">
            <div class="picture">
                <img class="UserDP" src="../../../assets/UserDP/{{conversation.dp}}" alt="">
            </div>
            <div class="content">
                <div class="conversationHeader">
                    <div class="contactname">{{conversation.name}}</div>
                    <div class="contactedtime">{{conversation.time}}</div>
                </div>
                <div class="message">
                    <img *ngIf="!conversation.readMessage" src="../../../assets/doubleTick.svg" alt="normaltick">
                    <img *ngIf="conversation.readMessage" src="../../../assets/doubleTickBlue.svg" alt="bluetick">
                    {{conversation.message}}
                </div>
            </div>
        </div>

    </div>
</div>