<div id="sidebar">
    <!-- Chat -->
    <div id="ChatWindow" *ngIf="this.commonSvc.isChatWindow">
        <div class="row1">
            <div id="sidebarHeader">
                <div>
                    <h2>Chats</h2>
                </div>
                <div class="actionContainer">
                    <div class="icon">
                        <img title="New Chat" style="width: 25px;cursor: pointer;" src="assets/NewChat.png" alt="">
                        <img title="Menu" style="cursor: pointer;" src="assets/moreVertIcon.svg" alt="">
                    </div>
                </div>
            </div>
            <div id="searchArea">
                <i id="searchIcon" class="fa fa-search"></i>
                <input [(ngModel)]="onSearch" id="sideSearchInput" type="text" placeholder="Search">
            </div>
            <div class="filterDiv">
                <div [ngClass]="isFilterAll? 'GreenBadge': 'GreyBadge'" class="filterDivText LinkCursor" (click)="filterMsg('All')"><span>All</span></div>
                <div [ngClass]="isFilterUnread? 'GreenBadge': 'GreyBadge'" class="filterDivText LinkCursor" (click)="filterMsg('Unread')"><span>Unread</span></div>
                <div [ngClass]="isFilterGroups? 'GreenBadge': 'GreyBadge'" class="filterDivText LinkCursor" (click)="filterMsg('Groups')"><span>Groups</span></div>
            </div>
        </div>
        <!-- Recent chat list -->
        <div id="sidebarContent">
            <div class="conversation" *ngFor="let conversation of !onSearch ? conversations : filteredConversation('All')"
                (click)="conversationClicked.emit(conversation)">
                <div class="picture">
                    <img class="UserDP" src="assets/UserDP/{{conversation.dp}}" alt="">
                </div>
                <div class="content">
                    <div class="conversationHeader">
                        <div class="contactname">{{conversation.name}}</div>
                        <div class="contactedtime">{{conversation.time}}</div>
                    </div>
                    <div class="message">
                        <img *ngIf="!conversation.readMessage" src="assets/doubleTick.svg" alt="normaltick">
                        <img *ngIf="conversation.readMessage" src="assets/doubleTickBlue.svg" alt="bluetick">
                        <!-- Get last message -->
                        {{conversation.messages[conversation.messages.length -1].body}}
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <!-- Status -->
    <div id="StatusWindow" *ngIf="this.commonSvc.isStatusWindow">
        <div class="row1">
            <div id="sidebarHeader">
                <div>
                    <h2>Status</h2>
                </div>
                <div class="actionContainer">
                    <div class="icon">
                        <img title="New Chat" style="width: 25px;cursor: pointer;" src="assets/NewChat.png" alt="">
                        <img title="Menu" style="cursor: pointer;" src="assets/moreVertIcon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebarContent">
            <div class="conversation">
                <div class="picture">
                    <img class="UserDP" src="assets/user.jpg" alt="">
                </div>
                <div class="content">
                    <div class="conversationHeader">
                        <div class="contactname">My Status</div>
                    </div>
                    <div class="message">
                        Click to add status update
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <!-- Channel -->
    <div id="ChannelWindow" *ngIf="this.commonSvc.isChannelWindow">
        <div class="row1">
            <div id="sidebarHeader">
                <div>
                    <h2>Channel</h2>
                </div>
                <div class="actionContainer">
                    <div class="icon">
                        <img title="New Chat" style="width: 25px;cursor: pointer;" src="assets/NewChat.png" alt="">
                        <img title="Menu" style="cursor: pointer;" src="assets/moreVertIcon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Communities -->
    <div id="CommunitiesWindow" *ngIf="this.commonSvc.isCommunitiesWindow">
        <div class="row1">
            <div id="sidebarHeader">
                <div>
                    <h2>Communities</h2>
                </div>
                <div class="actionContainer">
                    <div class="icon">
                        <img title="New Chat" style="width: 25px;cursor: pointer;" src="assets/NewChat.png" alt="">
                        <img title="Menu" style="cursor: pointer;" src="assets/moreVertIcon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Meta AI -->
    <div id="MetaAI" *ngIf="this.commonSvc.isMetaAI">
        <div class="row1">
            <div id="sidebarHeader">
                <div>
                    <h2>Meta AI</h2>
                </div>
                <div class="actionContainer">
                    <div class="icon">
                        <img title="New Chat" style="width: 25px;cursor: pointer;" src="assets/NewChat.png" alt="">
                        <img title="Menu" style="cursor: pointer;" src="assets/moreVertIcon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Settings -->
    <div id="SettingsWindow" *ngIf="this.commonSvc.isSettingsWindow">
        <div class="row1">
            <div id="sidebarHeader">
                <div>
                    <h2>Settings</h2>
                </div>
                <div class="actionContainer">
                    <div class="icon">
                        <img title="New Chat" style="width: 25px;cursor: pointer;" src="assets/NewChat.png" alt="">
                        <img title="Menu" style="cursor: pointer;" src="assets/moreVertIcon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile -->
    <div id="ProfileWindow" *ngIf="this.commonSvc.isProfileWindow">
        <div class="row1">
            <div id="sidebarHeader">
                <div>
                    <h2>Profile</h2>
                </div>
                <div class="actionContainer">
                    <div class="icon">
                        <img title="New Chat" style="width: 25px;cursor: pointer;" src="assets/NewChat.png" alt="">
                        <img title="Menu" style="cursor: pointer;" src="assets/moreVertIcon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>